/* STYLING THE HEADDING */
body {
    background-color: grey;
    margin: 0;
    padding: 0;
    color: yellowgreen;
}
/* title and nav */
#heading a {
    padding: 20px;
    background: gray;
    size: 1000px;
    height: 100px;
    font-size: 100px;
    display: block;
    text-align: center;
    color: yellowgreen;
}
/* nav bar section */
.nav ul{
   list-style: none;
   padding: 0;
   margin: 0; 
   text-align: right;
}
.nav li {
 
display: inline-block;
text-align: center;
}
.nav a {
    font-size: 100%;
    padding: 20px;
    border: 5px solid yellowgreen;
    color: yellowgreen;
}
.nav a:hover {
    background: #fff;
}
  /* all the headings */
h2 {
    color: yellowgreen;
    background-color: gray;
    text-align: center;
    height: 10vh;
    font-size: 10vh;
}
#logo{
    width: 100%;
    padding: 25px 25px 25px 25px;
    margin: 10px;
}
#runbuddy {
    width: 200px;
    height: 200px;
    margin: 20px 10px 20px 10px;
}
#title-run a {
    color: yellowgreen;
    size: 20%s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.works {
    display: flex;
    margin: 10px;
   height: 250px;
    border: 2px solid yellowgreen;
}
.workstwo {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    border: 3px solid yellowgreen;
    height: 250px;
    text-align: right;
}
.web{
    text-align: center;
    color: yellowgreen;
}
#companys{
    border: 10px solid yellowgreen;
    padding: 10px;
    color: yellowgreen;
}
.contact {
    color: yellowgreen;
    text-align: center;
}